iframe {
    display: inline-block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 95vh;        /* Viewport-relative units */
    width: 100vw;
    cursor: url("/hole_1f573.png"), pointer;
}
.main {
margin-top: 5rem;
margin-bottom: auto;
}
h1
{
    font-family:  Helvetica, sans-serif, Arial;
    font-size: large;
    font-style: oblique;
}